    // Colors 
    $white: #ffffff;
    $light: #f9f9f9;
    $black: #000000;
    $dark: #2f2f2f;
    $blue: #28a0fe;
    $darkblue: #083c65;
    $lightblue: #4f556b;
    $green: #05bc84;


    // Font Family
    $body-font-family: 'Poppins';
    $display-font-family: 'Helvetica';

    // Font sizes
    $font-size-xs: 0.75rem;
    $font-size-sm: 0.875rem;
    $font-size-base: 1rem;
    $font-size-lg: 1.125rem;
    $font-size-lead: 1.25rem;
    $h1-font-size: 3.5rem;
    $h2-font-size: 2.5rem;
    $h3-font-size: 1.875rem;
    $h4-font-size: 1.5rem;
    $h5-font-size: 1.25rem;
    $h6-font-size: 1rem;

    // Font Weights
    $font-weight-light: 300;
    $font-weight-normal: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;
    $font-weight-bolder: 900;

    // Line Heights
    $line-height-normal: 1;
    $line-height-sm: 1.3;
    $line-height-base: 1.5;
    $line-height-lg: 1.7;

    // Transitions
    $transition: all .2s ease-in-out;